.hublist {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  width: 500px;
  height: auto;
}

.hublist__item {
  position: relative;
  display: flex;
  flex: 0 1 50%;
  flex-direction:column;

  height: auto;
  width: 100%;

  background: #F7F7F7;
  border: 1px solid #DFDFDF;
}

.hublist__item__top {
  display: flex;
  justify-content: space-between;

  margin: 10px;

  height: 50%;
}

.hublist__item__bottom {
  display: flex;
  justify-content: space-between;

  margin: 10px;

  height: 50%;
}

.hublist__buttons {
  display: flex;
  flex-direction: row;
}

.hublist__button {
  margin: 0 5px;

  color: black;
  cursor: pointer;
}

.hublist__text--main {
  color: black;
}

.hublist__text--alt {
  color: #707070;
}
