.navbar {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  width: auto;
  height: 50px;

  color: white;
  background-color: #2FADA5
}

.navbar__element {
  flex: 1;
  
  margin: auto 10px;
}
