body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.listContainer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;

  margin: 45px;
}

.list {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  width: 500px;
  height: auto;
}

.list__item {
  position: relative;
  display: flex;
  flex: 0 1 50%;
  flex-direction:column;

  height: auto;
  width: 100%;

  background: #F7F7F7;
  border: 1px solid #DFDFDF;
  text-decoration: none;
}

.list__itemContainer {
  width: 100%;
}

.list__item__top {
  display: flex;
  justify-content: space-between;

  margin: 10px;

  height: 50%;
}

.list__item__bottom {
  display: flex;
  justify-content: space-between;

  margin: 10px;

  height: 50%;
}

.list__buttons {
  display: flex;
  flex-direction: row;
}

.list__button {
  margin: 0 5px;

  color: black;
  cursor: pointer;
}

.list__text--main {
  color: black;
}

.list__text--alt {
  color: #707070;
}

.auth {
  position: relative;
  flex-direction: column;
  align-items: center;
  display: flex;

  width: 300px;
  height: 320px;
  margin: 12% auto;

  background: #F7F7F7;
  border: 1px solid #DFDFDF;
}

.auth__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  height: 27px;
  
  color: white;
  border: none;
}

.button--main {
  background-color: #2FADA5;
}

.button--alt {
  background-color: #84C7A6;
}
